html {
    font-size: 14px;
}
@media screen and (min-width: 768px) {
    html {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1792px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: "Lobster", cursive;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.typed-cursor {
    display: none;
}

#intro {
    padding: 2.5rem;
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 1.4;
}

.top-text {
    position: relative;
    width: 100%;
    height: 25.5rem;
    margin: 0 auto 1.87rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .top-text {
        width: 30rem;
        height: 16.5rem;
        margin: 0 auto 1.87rem;
    }
}

#myVideo {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.group-video {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .group-video {
        width: 32.5rem;
    }
}

.group-video .img {
    position: absolute;
}

.group-video .img-2 {
    max-width: 4.25rem;
    top: -5%;
    right: 92%;
    transform: rotate(20deg);
}

@media screen and (min-width: 768px) {
    .group-video .img-2 {
        max-width: 6.25rem;
    }
}

.group-video .img-3 {
    max-width: 4.25rem;
    top: -5%;
    left: 94%;
    transform: rotate(-20deg);
}

@media screen and (min-width: 768px) {
    .group-video .img-3 {
        max-width: 6.25rem;
    }
}

.group-video .img-4 {
    max-width: 4.5rem;
    bottom: -5%;
    right: 92%;
    transform: rotate(-20deg);
}

@media screen and (min-width: 768px) {
    .group-video .img-4 {
        max-width: 7.5rem;
    }
}

.group-video .img-5 {
    max-width: 4.5rem;
    bottom: -5%;
    left: 92%;
    transform: rotate(20deg);
}

@media screen and (min-width: 768px) {
    .group-video .img-5 {
        max-width: 7.5rem;
    }
}


.section {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.section-1 {
    height: 100vh;
    width: 100%;
}
.section-1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../assets/hpbd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoom-in-zoom-out 2s ease-out infinite;
    transition: all .5s;
    z-index: -1;
}
.section-2 {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    transform: translateY(100%);
    transition: all .7s ease-out;
}

.section-2.show {
    transform: translateY(0);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c3e50
}

.box {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#pinkboard {
    position: relative;
    margin: auto;
    height: 750px;
    width: 750px;
    animation: animate 1.2s infinite;
}

#pinkboard:before, #pinkboard:after {
    content: '';
    position: absolute;
    background: #d63031;
    width: 100px;
    height: 160px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#pinkboard:before {
    left: 100px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
}

#pinkboard:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(.8);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.05, 1.05);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}

#countdown {
    position: absolute;
    left: 50%;
    margin: auto;
    height: 40px;
    width: 40px;
    text-align: center;
    transform: translateX(-50%);
    top: 105%;
    z-index: 1;
}

#countdown-number {
    color: white;
    display: inline-block;
    line-height: 40px;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
    animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}

.boxtext {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    font-size: 28px;
}

.boxtext span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.3s ease infinite alternate;
}
@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px #ccc, 0 2px #ccc, 0 3px #ccc, 0 4px #ccc, 0 5px #ccc,
        0 6px #ccc, 0 7px #ccc, 0 8px #ccc, 0 9px #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
}
.boxtext {
    color: #fff;
    text-shadow: 0 1px #ccc, 0 2px #ccc, 0 3px #ccc, 0 4px #ccc, 0 5px #ccc,
    0 6px 0 transparent, 0 7px transparent, 0 8px transparent, 0 9px transparent,
    0 10px 10px rgba(0, 0, 0, 0.4);
}
.boxtext span:nth-child(2) {
    animation-delay: 0.1s;
}
.boxtext span:nth-child(3) {
    animation-delay: 0.2s;
}
.boxtext span:nth-child(4) {
    animation-delay: 0.3s;
}
.boxtext span:nth-child(5) {
    animation-delay: 0.4s;
}
.boxtext span:nth-child(6) {
    animation-delay: 0.5s;
}
.boxtext span:nth-child(7) {
    animation-delay: 0.6s;
}
.boxtext span:nth-child(8) {
    animation-delay: 0.7s;
}